<% provide(:title, "Show User") %>
<h1>Show User</h1>
<div class="row">
  <aside class="col-md-4" >
  <section class="profile">
    <%= gravatar_for @user %>
    <%= @user.profile %>
    <% if current_user?(@user) %>
      <%= link_to "EditProfile", edit_user_registration_path,class: "btn btn-edit-user" %>
    <% else %>  
      <%= render 'follow_form' if user_signed_in? %>
    <% end %>
  </section>
  <section class="stats">
    <ul class="stat-list-group">
      <li>
        <a href="<%= images_path %>">
          image_count:
          <strong id="images_count" class="stat">
            <%= @images.count %>
          </strong>
        </a>
          <strong id="following" class="stat">
            <%= @user.following.count %>
          </strong>
          following
          <strong id="followers" class="stat">
            <%= @user.followers.count %>
          </strong>
          followers
      </li>
    </ul>
  </section>
  </aside>
</div>
  <ul class="image-list-group-flex">
    <% @images.each do |image| %>
      <li class="image-flex">
        <%= image_tag image.image_url,class:"image" %>
      </li>
    <% end %>  
  </ul>