<li class="list-group-item">
  <div class="image">
    <%= image_tag image.image_url,class:"center-block" %>
  </div>
  <% if controller.controller_name =="home" %>
    <%= render 'like_form',    image: image %>
  <% end %>
  <ul id="comment-<%= image.id %>" class="comments list-group">
    <%= render 'comments/comment',image: image %>
  </ul>
  <div id="comment-form-<%= image.id %>">
    <%= render 'comments/comment_form',image: image %>
  </div>
</li>
