  <header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to 'EditProfile', edit_user_registration_path %></li>
          <li><%= link_to notifications_path do %>
                <% if unchecked_notifications.any? %>
                  <span class="fa-stack">
                    <%= icon("far", "bell fa-lg fa-stack-2x") %>  
                    <%= icon("fas", "circle n-circle fa-stack-1x") %>  
                  </span>
                <% else %>
                    <%= icon("far", "bell fa-lg") %>
                <% end %>
              <% end %>
          </li>
          <li><%= link_to "Logout", sign_out_path %></li>
          <li><%= current_user.user_name %></li>

        <% else %>
          <li><%= link_to "Signup", new_user_registration_path %></li>
          <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
  </header>

