<!DOCTYPE html>
<html>
  <head>
    <title>CloneInstaApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <nav>
      <% if user_signed_in? %> 
        Logged in as <strong><%= current_user.user_name %></strong>.
        <%= link_to 'プロフィール変更', edit_user_registration_path %> |
        <%= link_to "Logout", sign_out_path %>
      <% else %>
        <%= link_to "Signup", new_user_registration_path %> |
        <%= link_to "Login", new_user_session_path %>
      <% end %>
    </nav>
  </header>   
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <%= yield %>
   <%= debug(params) if Rails.env.development? %>
  </body>
</html>
